/*Styles Generaux*/

nav {
    background-color: var(--rose);
    position: fixed;
}

.logo {
    width: 150px;
}

.icon {
    width: 50px;
}

footer {
    background-color: var(--brun);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.texte {
    color: var(--rose);
    
    
}

.form {
    margin-top: -7rem;
}


.navbar-toggler {
    color: var(--rouge);
}

.filters {
    overflow: hidden;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}
/*Section Hero*/