/*Styles Generaux*/

nav {
    background-color: var(--rose);
}

.logo {
    width: 200px;
}

.icon {
    width: 50px;
}

footer {
    background-color: var(--brun);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.texte {
    color: var(--rose);
}

.form {
    position: absolute;
    top: 10%;
}

.button {
    overflow: hidden;
    position: static;
    
}

.btn {
    position: absolute;
    top: 15%;
    
    
}

/*Section Hero*/