/*Styles Generaux*/
html {
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: transparent;
    
}


.icon {
    width: 40px;
    margin-top: 0.25rem;
}

footer {
    background-color: var(--bs-dark);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
   
    bottom: 0;
    width: 100%;
    text-decoration: none;
}

.texte {
    color: var(--bs-info);
    
    
}

a {
    text-decoration: none;
}


.back {
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-top: 0.25rem;
    
}

.gojira {
    height: 33vh;
}

.section {
    margin-top: 1rem;
    background-color: var(--bs-light);
    position: relative;
    z-index: 1;
    border-radius: 11px;
}


.info {
    margin-left: 2rem;
   
}

.artiste {
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--bs-primary);
    border-radius: 6px;
    
}

h2 {
    color: var(--bs-light);
    margin-left: 0.5rem;
}

.card {
    margin-left: 2rem;
    margin-right: 2rem;
}

h5 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.accordion {
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 22px;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    margin-top: 1rem;
}

.accordion-button {
    background-color: var(--bs-primary) !important;
    color: var(--bs-light) !important;
    
}


.modal {
    margin-top: 50%;
}









