/*Styles Generaux*/
html {
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: var(--bs-info);
    
}

.logo {
    width: 150px;
}

.icon {
    width: 50px;
}

footer {
    background-color: var(--bs-dark);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}

.container {
    overflow-x: hidden;
}

.texte {
    color: var(--bs-info);
    
    
}

.form {
    margin-top: -7rem;
}


.navbar-toggler {
    color: var(--bs-primary);
}

.filters {
    overflow: hidden;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}


.card-img-top {
    height: 20vh;
    object-fit: fill; 
}

h3 {
    text-decoration: none;
}

.img_artists {
    width: 1.5rem;
}

.en_vedette {
    max-width: 200px;
}

.card:hover {
    background-color: var(--bs-info);
}

.cartes {
   width: 140%; 
   padding: 1rem;
}

.card {
   margin-top: 2rem;
}

a {
    text-decoration: none;
}



/*Section Hero*/