/*Styles Generaux*/
#navbar1 {
    background-color: var(--rose);
    width: 100%;
    margin-bottom: 1rem;
}

.logo {
    width: 200px;
}

footer {
    background-color: var(--brun);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--blanc);
    bottom: 0;
}

a[href*="github"] {
    text-decoration: none;
    color: var(--noir);
    transition: color 0.3s ease-in-out;
}

a[href*="github"]:hover {
    color: var(--rouge);
}

/*Section Hero*/
#hero {
    margin-top: 6rem;
}

.titre1 {
    font-family: var(--oswald);
    font-size: 48px;
    margin: 15px;
}

.titre2 {
    font-family: var(--noto-sans);
    color: var(--gris);
    font-size: 35px;
    margin: 22px;
}

.btn {
    color: var(--blanc);
    background-color: var(--rouge);
    margin: 15px 15px 25px;
    width: 70%;
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: var(--noto-sans);
    display: flex;
    justify-content: center;
}

.cadre {
    width: 100%;
    aspect-ratio: 5/9;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 6px rgba(0,0,0,0.25);
}

iframe {
    width: 100%;
    height: 100%;
}