/*Styles Generaux*/
html {
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: transparent;
    
}


.icon {
    width: 40px;
}

footer {
    background-color: var(--bs-dark);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
   
    bottom: 0;
    width: 100%;
    text-decoration: none;
}

.texte {
    color: var(--bs-info);
    
    
}

a {
    text-decoration: none;
}


.back {
    border-radius: 25px;
    width: 40px;
    height: 40px;
    
}

.gojira {
    height: 33vh;
}

/*Section Hero*/